/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.bg-navy {
  background-color: #122341;
}
/* line 5, ../sass/partials/_modules.scss */
.bg-orange {
  background-color: #f24734;
}

/* line 10, ../sass/partials/_modules.scss */
.contact-s3, .menu-s3 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}

/* line 16, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 20, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 23, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 28, ../sass/partials/_modules.scss */
  .about-s1, .about-s2, .about-s3, .about-s4 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 29, ../sass/partials/_modules.scss */
  .about-s1 *, .about-s2 *, .about-s3 *, .about-s4 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 36, ../sass/partials/_modules.scss */
  .about-s1, .about-s2, .about-s4 {
    background-position: right !important;
  }

  /* line 41, ../sass/partials/_modules.scss */
  .blog-s1 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
    background-position: right !important;
  }
  /* line 42, ../sass/partials/_modules.scss */
  .blog-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 52, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 53, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 62, ../sass/partials/_modules.scss */
  .index-s1, .index-s2, .index-s3 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 63, ../sass/partials/_modules.scss */
  .index-s1 *, .index-s2 *, .index-s3 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 70, ../sass/partials/_modules.scss */
  .index-s1, .index-s3 {
    background-position: right !important;
  }

  /* line 75, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s2 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 76, ../sass/partials/_modules.scss */
  .menu-s1 *, .menu-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 83, ../sass/partials/_modules.scss */
  .menu-s1 {
    background-position: right !important;
  }

  /* line 88, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }
  /* line 89, ../sass/partials/_modules.scss */
  .navbar-nav * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 90, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.about-s1 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s3 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.about-s4 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.blog-s1 {
  background-attachment: scroll;
  background-image: url(../img/blog/blog-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.login-s1 {
  background-attachment: scroll;
  background-image: url(../img/login/login-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s1 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s3 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.shop-s1 {
  background-attachment: scroll;
  background-image: url(../img/shop/shop-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
