.bg{
    &-navy{
        background-color: $color__navy;
    }
    &-orange{
        background-color: $color__orange;
    }
}
.contact,.menu{
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width: 767px){
    .about{
        &-s1,&-s2,&-s3,&-s4{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1,&-s2,&-s4{
            background-position: right!important;
        }
    }
    .blog{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .index{
        &-s1,&-s2,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .menu{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            border: 1px solid #333;
            opacity:0.9;
            padding: 10px;
        }
    }
}